body {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    width: 1200px;
    background-color: white;
}

header {
    background: url('https://coolbackgrounds.io/') no-repeat center center/cover;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.banner-content {
    margin-left: 20px;
}

h1 {
    font-size: 2.2rem;
    margin: 0;
}

p {
    font-size: 1.1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.content {
    text-align: center;
    padding: 60px 20px;
}

.content h2 {
    font-size: 2rem;
    color: black;
}

.content p {
    font-size: 17px;
    line-height: 1.8;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 250px;
    height: 250px;
}

.image-item h3 {
    font-size: 1.3rem;
    color: blue;
}

.image-item p {
    font-size: 0.95rem;
    line-height: 1.8;
}

.price {
    font-size: 1.3rem;
    color: blue;
}

footer {
    height: 40px;
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
}
